* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  font-size: 30px;
  font-weight: bold;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  width: 100%;
  background-color: rgb(254, 238, 140);
  padding: 0.5rem;
  text-align: center;
}

main {
  flex: 1;
  background-color: rgb(219, 204, 121);
  display: flex;
  position: relative;
}

.object-container {
  width: 100%;
  height: 100%;
  position: relative;
}

.game-over-text {
  color: maroon;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: none;
  position: absolute;
}

footer {
  display: flex;
  width: 100%;
  background-color: rgb(254, 238, 140);
  height: 15%;
  justify-content: space-evenly;
  align-items: center;
}

.score,
.level {
  width: 30%;
  text-align: center;
}

button {
  background-color: rgb(255, 192, 103);
  height: 100%;
  width: 30%;
  border: 2px solid rgb(204, 153, 82);
  cursor: pointer;
}

button:active {
  background-color: rgb(204, 153, 82);
}

.inactive {
  background-color: rgb(204, 153, 82);
  cursor: default;
}

.item {
  /* pointer-events: none; */
  position: absolute;
  width: 70px;
  height: 70px;
}

svg {
  pointer-events: none;
}
.good {
  /* background-color: lightgreen; */
}

.bad {
  /* background-color: lightcoral; */
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.enabled {
  display: block;
}

.disabled {
  display: none;
}

.flashing-yellow {
  animation-name: flash-yellow;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.flashing-red {
  animation-name: flash-red;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes flash-yellow {
  0% {
    color: black;
  }
  50% {
    color: yellow;
  }
  100% {
    color: black;
  }
}

@keyframes flash-red {
  0% {
    color: black;
  }
  50% {
    color: red;
  }
  100% {
    color: black;
  }
}
